.barver2 {
    position: relative;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    border-radius:25px 25px;
    background:#B8DCB5;
    height:20px;
    text-align:center;
}
.text{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    cursor: pointer;
}
#text:hover{
    font-weight:Bold;
}
.modify{
    position:absolute;
    right:15%;
    color:red;
    background:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:15px;
    font-size:15px;
    cursor: pointer;
}
.modify:hover{
    font-weight:Bold;
}
.delete{
    position:absolute;
    right:4%;
    color:red;
    background:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:15px;
    font-size:15px;
    cursor: pointer;
}
.delete:hover{
    font-weight:Bold;
}

/* .barver2 {
    position: relative;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:20px;
    margin-left:30px;
    margin-right:30px;
    border-radius:25px 25px;
    background:#B8DCB5;
    height:20px;
    text-align:center;
}
.text{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.modify{
    position:absolute;
    right:15%;
    color:red;
    background:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:15px;
    font-size:15px;
    cursor: pointer;
}
.modify:hover{
    font-weight:Bold;
}
.delete{
    position:absolute;
    right:4%;
    color:red;
    background:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:15px;
    font-size:15px;
    cursor: pointer;
}
.delete:hover{
    font-weight:Bold;
} */